In [1]:
from sloths import curry, make_queryable
from pandas import DataFrame

@curry
def has(a,b):
    return a in b

df = DataFrame({'col_a': 1_000_000*['ursidae', 'usinae', 'ailuropodinae', 'tremarctinae'],
                'col_b': 1_000_000*[1, 2, 3, 4]})

df = make_queryable(df)

In [2]:
df.lookup(
    col_a = has('a') & has('s')
)

           col_a  col_b
0        ursidae    1.0
1         usinae    2.0
4        ursidae    1.0
5         usinae    2.0
8        ursidae    1.0
...          ...    ...
3999989   usinae    2.0
3999992  ursidae    1.0
3999993   usinae    2.0
3999996  ursidae    1.0
3999997   usinae    2.0

[2000000 rows x 2 columns]

In [3]:
condition = has('a') & has('s')
%timeit df.lookup(col_a = condition)

2.77 s ± 53.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [4]:
_has = lambda b1, b2: lambda a: b1 in a and b2 in a

In [5]:
condition = _has('a', 's')
%timeit df.lookup(col_a = condition)

942 ms ± 14.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [6]:
_has = lambda b: lambda a: b in a

In [7]:
%timeit df[df.col_a.apply(_has('a')) & df.col_a.apply(_has('s'))]

1.18 s ± 19 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)